@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
} */

body {
  background: #E3E7E8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --surface-default: 192 10% 90%;
    --surface-card: 0 0% 100%;
    --surface-popover: 0 0% 100%;
    --surface-button-primary-start-blue: 197 75% 38%;
    --surface-button-primary-start-orange: 32 95% 45%;
    --surface-button-primary-end-blue: 197 75% 28%;
    --surface-button-primary-end-orange: 32 95% 40%;
    --surface-button-secondary-start: 199 76% 95%;
    --surface-secondary-end: 198 75% 78%;
    --surface-well: 192 10% 90%;
    --surface-skeleton: 200 12% 95%;
    --foreground-default: 198 10% 20%;
    --foreground-accent: 197 75% 28%;
    --foreground-button-primary: 0 0% 100%;
    --foreground-button-primary-subtle-blue: 198 75% 78%;
    --foreground-button-primary-subtle-orange: 32 94% 88%;
    --foreground-button-secondary: 197 75% 28%;
    --foreground-label: 198 10% 40%;
    --foreground-table-text: 192 10% 10%; 
    --foreground-subtle: 196 10% 30%;
    --foreground-disabled: 198 10% 80%;
    --border-default: 198 10% 80%;
    --border-table: 196 10% 70%;
    --border-input: 197 10% 50%;
    --border-focus-blue: 197 75% 38%;
    --border-focus-orange: 32 95% 45%;

    --radius-card: 1rem;
    --radius-button: 1rem;

    --shadow-card: 0px 24px 24px -12px rgba(0, 0, 0, 0.15),
      0px 12px 12px -6px rgba(0, 0, 0, 0.15),
      0px 6px 6px -3px rgba(0, 0, 0, 0.15),
      0px 3px 3px -1.5px rgba(0, 0, 0, 0.15),
      0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
      0px 0px 0px 1px rgba(0, 0, 0, 0.05); 
  
    --shadow-button-card: 0px 0px 1px 1px rgba(0, 0, 0, 0.10) inset,
      0px -4px 4px -2px rgba(0, 0, 0, 0.15) inset,
      0px -2px 2px -1px rgba(0, 0, 0, 0.15) inset,
      0px 8px 8px -4px rgba(255, 255, 255, 0.15) inset,
      0px 4px 4px -2px rgba(255, 255, 255, 0.15) inset,
      0px 24px 24px -12px rgba(0, 0, 0, 0.15),
      0px 12px 12px -6px rgba(0, 0, 0, 0.15),
      0px 6px 6px -3px rgba(0, 0, 0, 0.15),
      0px 3px 3px -1.5px rgba(0, 0, 0, 0.15),
      0px 1px 1px -0.5px rgba(0, 0, 0, 0.15);

    --shadow-button-secondary: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15) inset,
      0px -2px 2px -1px rgba(0, 0, 0, 0.15) inset,
      0px -1px 1px -0.5px rgba(0, 0, 0, 0.15) inset,
      0px 4px 4px -2px rgba(255, 255, 255, 0.15) inset,
      0px 2px 2px -1px rgba(255, 255, 255, 0.15) inset,
      0px 12px 12px -6px rgba(0, 0, 0, 0.10),
      0px 6px 6px -3px rgba(0, 0, 0, 0.10),
      0px 3px 3px -0.5px rgba(0, 0, 0, 0.10),
      0px 1.5px 1.5px -0.7px rgba(0, 0, 0, 0.10),
      0px 0.5px 0.5px -0.2px rgba(0, 0, 0, 0.10);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}