@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
} */

body {
  background: #E3E7E8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --surface-default: 192 10% 90%;
    --surface-card: 0 0% 100%;
    --surface-button-primary-start: 197 75% 38%;
    --surface-button-primary-end: 197 75% 28%;
    --surface-button-secondary-start: 199 76% 95%;
    --surface-secondary-end: 198 75% 78%;
    --foreground-default: 198 10% 20%;
    --foreground-accent: 197 75% 28%;
    --foreground-button-primary: 0 0% 100%;
    --foreground-button-primary-subtle: 198 75% 78%;
    --foreground-button-secondary: 197 75% 28%;

    --radius-card: 1rem;
    --radius-button: 1rem;

    --shadow-card: 0px 24px 24px -12px rgba(0, 0, 0, 0.15),
      0px 12px 12px -6px rgba(0, 0, 0, 0.15),
      0px 6px 6px -3px rgba(0, 0, 0, 0.15),
      0px 3px 3px -1.5px rgba(0, 0, 0, 0.15),
      0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
      0px 0px 0px 1px rgba(0, 0, 0, 0.05); 
  
    --shadow-button-card: 0px 0px 1px 1px rgba(0, 0, 0, 0.10) inset,
      0px -4px 4px -2px rgba(0, 0, 0, 0.15) inset,
      0px -2px 2px -1px rgba(0, 0, 0, 0.15) inset,
      0px 8px 8px -4px rgba(255, 255, 255, 0.15) inset,
      0px 4px 4px -2px rgba(255, 255, 255, 0.15) inset,
      0px 24px 24px -12px rgba(0, 0, 0, 0.15),
      0px 12px 12px -6px rgba(0, 0, 0, 0.15),
      0px 6px 6px -3px rgba(0, 0, 0, 0.15),
      0px 3px 3px -1.5px rgba(0, 0, 0, 0.15),
      0px 1px 1px -0.5px rgba(0, 0, 0, 0.15);

    --shadow-button-secondary: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15) inset,
      0px -2px 2px -1px rgba(0, 0, 0, 0.15) inset,
      0px -1px 1px -0.5px rgba(0, 0, 0, 0.15) inset,
      0px 4px 4px -2px rgba(255, 255, 255, 0.15) inset,
      0px 2px 2px -1px rgba(255, 255, 255, 0.15) inset,
      0px 12px 12px -6px rgba(0, 0, 0, 0.10),
      0px 6px 6px -3px rgba(0, 0, 0, 0.10),
      0px 3px 3px -0.5px rgba(0, 0, 0, 0.10),
      0px 1.5px 1.5px -0.7px rgba(0, 0, 0, 0.10),
      0px 0.5px 0.5px -0.2px rgba(0, 0, 0, 0.10);
  }
}
